*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: rgb(235, 241, 243);
}

.title {
    text-align: center;
    padding: 30px;
    color: rgb(51, 51, 99);
    text-decoration: underline 3px solid skyblue;
}

.loading,
.error,
.no-more-destination {
    text-align: center;
    margin-top: 20px ;
}

.refresh-btn {
    width: 150px;
    padding: 8px;
    color:white;
    border-radius: 0;
    border: none;
    outline: none;
    background: rgb(31, 167, 221);
    margin: auto;
    display: block;
    margin-top: 20px;
}